{{ define "main" }}
<main>
  <section>
    <article class='content'>
          <img src='{{ ((.Resources.GetMatch (printf "%s*" .Params.banner))).RelPermalink }}'>
        </div>
        <div class='aln-j'>
          <h1 class='tight up'>{{ .Title }}</h1>
          <hr class='short aln-l'>
          {{ .Content }}
        </div>
      </div>
  </article>
    </section>
</main>
{{ end }}
