{{ define "main" }}
<main>
  <article>
    <div class='content'>
      <div class='aln-c r r-x r-s-a'>
        <div>
          <h1 class='up tight'>{{ .Title }}</h1>
          <hr class='short'>
          <i>{{ .Content }}</i>
        </div>
      </div>
    </div>
    <section class='content r r-s-a r-x aln-c'>
      <div class='c'>
        {{- range .Pages }}
        <a class='inv button border' href='{{ .Permalink }}'>
          <span class='aln-c'>{{ .Title }}</span>
        </a>
        {{- end }}
      </div>
    </section>
  </article>
</main>
{{ end }}
