{{- define "main" -}}
<main>
  <section>
    <article class='content'>
      <div class='rel'>
        {{ if isset .Params "banner" }}
        {{ with (.Resources.GetMatch (printf "%s*" .Params.banner)) }}
        <img class='img-dark' src='{{ (.Fill "1100x600").RelPermalink }}'>
        {{ end }}
        {{ end }}
        <div class='r r-s-a r-a-c overtext'>
          <h1 class='tight aln-c'>{{ .Title }}</h1>
        </div>
      </div>
      <div class='r'>
        <section class='c c-33'>
          <b><p class='h1 tight'>{{ .Description }}</p></b>
          <small class='up'>{{ .PublishDate.Format "2 January 2006" }}</small>
          {{ with .Resources.GetMatch "menu.md" }}
          <small>
          {{ .Content }}
          </small>
          {{ end }}
        </section>
        <section class='c'>
          {{ .Content }}
          {{ with .Params.authors }}
          <p><i>&mdash; {{ delimit . ", " }}</i></p>
          {{ end }}
        </section>
      </div>
      {{ $banner :=  (.Resources.GetMatch (printf "%s*" .Params.banner)) }}
      {{ with .Resources.ByType "image" }}
      <div>
        {{ range $i, $e := where . "RelPermalink" "!=" $banner.RelPermalink }}
        <img src='{{ ($e.Resize "1100x").Permalink }}'>
        {{ end }}
      </div>
      {{ end }}
      <section class='r'>
        <div class='c'>
          <h5 class='up'><a href='{{ "categories" | relURL }}'>Categories</a></h5>
          <dl>
            {{- range $_, $k := .Param "categories" }}
            {{- with $.Site.GetPage (printf "/%s/%s" "categories" (urlize $k)) }}
            <dt class='h6'><a href='{{ .Permalink }}'>{{ $k }}</a></dt>
            {{- end }}
            {{- end }}
          </dl>
        </div>
        <div class='c'>
          <h5 class='up'><a href='{{ "tags" | relURL }}'>Tags</a></h5>
          <dl>
            {{- range $_, $k := .Param "tags" }}
            {{- with $.Site.GetPage (printf "/%s/%s" "tags" (urlize $k)) }}
            <dt class='h6'><a href='{{ .Permalink }}'>{{ $k }}</a></dt>
            {{- end }}
            {{- end }}
          </dl>
        </div>
      </section>
      <hr>
      <div class='r r-x'>
        {{ with .PrevPage }}
        <div class='c aln-l'>
          <a class='link' href='{{ .Permalink }}'>
            <span class='reveal'>{{ .Title }}</span>
            <span class='wide up'>Prev</span>
          </a>
        </div>
        {{ end }}
        {{ with .NextPage }}
        <div class='c aln-r'>
          <a class='link' href='{{ .Permalink }}'>
            <span class='wide up'>Next</span>
            <span class='reveal'>{{ .Title }}</span>
          </a>
        </div>
        {{ end }}
      </div>
      <hr>
    </article>
  </section>
</main>
{{- end -}}
