{{ define "main" }}
<main class='bg-hl'>
  <article>
    <section class='content r r-x r-s-a'>
      <div class='c aln-c'>
        <h1>{{ .Title }}</h1>
        <hr class='short'>
        <i>{{ .Content }}</i>
      </div>
    </section>
    <section class='content'>
      {{ partial "gallery.html" . }}
    </section>
  </article>
</main>
{{ end }}
