{{ define "main" }}
<main>
  <article>
    <section class='content'>
      <div class='aln-c r r-x r-s-a'>
        <div>
          <h1 class='up tight'>{{ .Title }}</h1>
          <hr class='short'>
          <i>{{ .Content }}</i>
        </div>
      </div>
      {{- range .Pages.GroupByDate "2006" -}}
      <h2 class='wide p up aln-c'>{{ .Key }}</h2>
      <dl>
        {{- range .Pages }}
        <a href='{{ .Permalink }}'>
          <dt class='r'>
            <div class='c aln-r'>{{ .Title }}</div>
            <div class='c aln-l'>{{ .Date.Format "January 2" }}</div>
          </dt>
        </a>
        {{- end }}
      </dl>
      {{- end }}
    </section>
  </article>
</main>
{{ end }}
