<section class='carousel hero'>
  <input class='carousel-selector' type='radio' id='carousel-1' name='carousel[]' checked>
  <input class='carousel-selector' type='radio' id='carousel-2' name='carousel[]'>
  <input class='carousel-selector' type='radio' id='carousel-3' name='carousel[]'>
  <input class='carousel-selector' type='radio' id='carousel-4' name='carousel[]'>
  <input class='carousel-selector' type='radio' id='carousel-5' name='carousel[]'>
  <div class='carousel__items'>
    {{- range first 5 (where .Site.Pages "Params.featured" "true") }}
    {{- if isset .Params "banner" }}
    <div class='carousel__item'>
      {{- with ((.Resources.GetMatch (printf "%s*" (.Param "banner"))).Resize "1100x") -}}
      <img src='{{ .RelPermalink }}'>
      {{- end -}}
      <a href='{{ .RelPermalink }}'>
        <div class='r r-s-a r-a-c overlay'>
          <h2 class='tight up aln-c'>{{ .Title }}</h2>
        </div>
      </a>
    </div>
    {{- end -}}
    {{- end -}}
  </div>
  <div class='carousel__prev'>
    <label for="carousel-1"></label>
    <label for="carousel-2"></label>
    <label for="carousel-3"></label>
    <label for="carousel-4"></label>
    <label for="carousel-5"></label>
  </div>
  <div class="carousel__next">
    <label for="carousel-1"></label>
    <label for="carousel-2"></label>
    <label for="carousel-3"></label>
    <label for="carousel-4"></label>
    <label for="carousel-5"></label>
  </div>
  <div class="carousel__nav">
    <label for="carousel-1"></label>
    <label for="carousel-2"></label>
    <label for="carousel-3"></label>
    <label for="carousel-4"></label>
    <label for="carousel-5"></label>
  </div>
</section>
<script>
  (function() {
    inputs = document.getElementsByClassName('carousel-selector');
    function advance() {
      idx = [... inputs].findIndex(e => e.checked);
      inputs[idx % inputs.length].removeAttribute("checked");
      inputs[(idx+1) % inputs.length]["checked"] = true;
    }
    setInterval(advance, 6000);
  }());
</script>
