<footer>
  <article>
  <section class='content box'>
    <div class='r'>
      <h2 class='up tight aln-l c c-33'>
        <a href='{{ .Site.BaseURL }}'>
          <div>Pastel</div>
          <div>Cravings</div>
        </a>
      </h2>
      <div class='c'>
        <small class='up r r-a-c responsive aln-r' style='top:1rem'>
          <dl class='c'>
            <dt><a href='{{ "categories" | relURL }}'>Categories</a></dt>
            <dt><a href='{{ "tags" | relURL }}'>Tags</a></dt>
          </dl>
          <dl class='c'>
            <dt><a href='{{ "post" | relURL }}'>Archive</a></dt>
            <dt><a href='{{ .Site.Params.source }}'>
              Copyright &copy; {{ .Site.LastChange.Format "2006" }}
            </a></dt>
          </dl>
        </small>
      </div>
    </section>
  </article>
</footer>
