<section class='content'>
  <div class='g'>
    {{- range $i, $e := where .Data.Pages "Type" "post" -}}
    <a href='{{ .Permalink }}' class='bg-bg inv'>
      {{ if isset $e.Params "banner" }}
      {{- with (.Resources.GetMatch (printf "%s*" $e.Params.banner)) -}}
      <img src='{{ (.Fill "720x960").RelPermalink }}'>
      {{- end -}}
      {{- end -}}
      <div class='aln-c box'>
        <h2 class='tight up'>{{ .Title }}</h2>
        <p class='up'><small class='wide up'>{{ .PublishDate.Format "2 January 2006" }}</small></p>
        <p>
        {{- if (not (isset .Params "description")) | or (eq .Params.description "") -}}
        Chirp chirp
        {{- else }}{{ .Params.description  }}{{ end -}}
        </p>
      </div>
    </a>
    {{- end -}}
  </div>
</section>
