<head>
    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Title | default .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Param "description" }}">
    <meta name="author" content="{{ .Param "author" }}">
    <link href="https://fonts.googleapis.com/css?family=Mr+Dafoe|Lato:300,400,400i,700" rel="stylesheet">
    {{ $opts := (dict "targetPath" "css/style.css" "enableSourceMap" true "includePaths" (slice "assets")) }}
    {{ $style := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS $opts | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink | absURL }}" integrity="{{ $style.Data.Integrity }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
