<div class='f f-t bg-bg p'>
  <div class='r r-s-b r-x content'>
    {{ partial "logo.html" . }}
    <dl class='up wide tight horizontal'>
      {{- range $k, $v := .Site.Params.social }}
      <dt class='desktop'><a href='{{ $v.link }}'><i class='{{ $v.class }}'></i></a></dt>
      {{- end }}
      <label for='menu' id='hammenu'>
        <div id='menuleft'></div>
        <div id='menuright'></div>
      </label>
    </dl>
  </div>
</div>
<input class='modal-state' id='menu' type='checkbox'>
<div class='modal'>
  <label class='modal-bg' for='menu'></label>
  <div class='modal-content'>
    <label class='modal-close' for='menu'></label>
    <div class='r r-a-c' style='height: 100%'>
      <nav class='box c'>
        <section>
          <h2 class='h4'>{{ .Site.Title }}</h2>
          <dl>
            <dt><a href='{{ "about" | relURL }}'>About</a></dt>
            <dt>Media Kit</dt>
            <dt>Contact</dt>
          </dl>
        </section>
        <section>
          <h2 class='h4'>Index</h2>
          <dl>
            {{ range $k, $v := .Site.Taxonomies.categories }}
            {{- with $.Site.GetPage (printf "/%s/%s" "categories" $k) }}
            <dt><a href='{{ .Permalink }}'>{{ $k | humanize | title }}</a></dt>
            {{ end }}
            {{ end }}
          </dl>
        </section>
        <section class='mobile'>
          <h2 class='h4'>Social Media</h2>
          <dl class='horizontal'>
            {{- range $k, $v := .Site.Params.social }}
            <dt class='tight'><a href='{{ $v.link }}'><i class='{{ $v.class }}'></i></a></dt>
            {{- end }}
          </dl>
      </nav>
    </div>
  </div>
</div>
