.overtext {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  color: white;
  font-family: "Mr Dafoe";
  font-size: 3em;
  h1 { font-weight: 400 !important;}
  padding: 0 2em;
}

.img-dark { filter:brightness(75%);}

.p { padding-top: 1.6rem !important; padding-bottom: 1.6rem !important;}
.box { padding: 2.4rem}

.f {
  position: fixed;
  z-index: 10;

  &.f-t, &.f-b { left: 0; right: 0; min-height: 1.5em}
  &.f-t {
    top: 0;
    &~main { margin-top: 1.5em}}
    &.p~main { margin-top: calc(3.2rem + 1.5em)}
  &.f-b {
    bottom: 0;
    &~main { margin-bottom: 1.5em}
    &.p~main { margin-bottom: calc(3.2rem + 1.5em)}}}

.hero {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  h2 { font-size: 6rem}

  img {
    filter: brightness(75%);
    -webkit-filter: brightness(75%);
    width: 111%;
    height: inherit;
    object-fit: cover}}

.f.p~main {
  .hero { height: calc(100vh - 1.5em - 3.2rem)}
  // .hero.carousel  { height: calc(100vh - 2 * (1.5em + 3.2rem))}
}

.carousel {
  img {
    animation-name: sidetoside;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-timing-function: linear;
    animation-iteration-count: infinite;}}

@keyframes sidetoside {
  from { transform: translateX(-9%)}
  to   { transform: translateX(0%)}}

/* CAROUSEL
 * Carousel.sass
 * @author: Dang Van Thanh
 * @github: https://github.com/dangvanthanh/carousel.sass
 * @description: A Simple Carousel Pure CSS Using Sass
 * @version: 1.0.0
 */
%animation-default {
  opacity: 1 !important;
  z-index: 3;
}

@mixin carousel($items, $animation: 'default') {
  .carousel {
    width: 100%;
    position: relative;
    overflow: hidden;

    > input[type="radio"] {
      position: absolute;
      left: 0;
      opacity: 0;
      top: 0;

      &:checked {
        ~ .carousel__items .carousel__item,
        ~ .carousel__prev > label,
        ~ .carousel__next > label {
          opacity: 0;
          z-index: 0 !important;
        }
      }

      @for $i from 1 through $items {
        &:nth-child(#{$i}) {
          &:checked {
            ~ .carousel__items .carousel__item {
              @if $animation == 'default' {
                &:nth-child(#{$i}) {
                  opacity: 1;
                  z-index: 15 !important;
                }
              }
            }

            ~ .carousel__prev {
              > label {
                @if $i == 1 {
                  &:nth-child(#{$items}) {
                    @extend %animation-default;
                  }
                } @else if $i == $items {
                  &:nth-child(#{$items - 1}) {
                    @extend %animation-default;
                  }
                } @else {
                  &:nth-child(#{$i - 1}) {
                    @extend %animation-default;
                  }
                }
              }
            }

            ~ .carousel__next {
              > label {
                @if $i == $items {
                  &:nth-child(1) {
                    @extend %animation-default;
                  }
                } @else {
                  &:nth-child(#{$i + 1}) {
                    @extend %animation-default;
                  }
                }
              }
            }

            ~ .carousel__nav {
              > label {
                &:nth-child(#{$i}) {
                  background: black;
                  cursor: default;
                  pointer-events: none;
                }
              }
            }
          }
        }
      }
    }

    &__items {
      // margin: 0;
      // padding: 0;
      list-style-type: none;
      // width: 100%;
      height: inherit;
      // position: relative;
    }

    &__item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: inherit;
      z-index: 1;
      height: inherit;
      transition: opacity 2s;
      -webkit-transition: opacity 2s;

      img {
        // width: 100%;
        // vertical-align: middle;
        height: calc(100% - 1.5em - 3.2rem);
      }
      .overlay {
        color: white;
        z-index: 10;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
      }

    }

    &__prev,
    &__next {
      > label {
        color: white;
        cursor: crosshair;
        display: block;
        width: 6rem;
        height: 6rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        opacity: 0;
        z-index: 2;

        &:hover,
        &:focus {
          border: solid 1px white;
          border-radius: 50%;
        }

        &:before,
        &:after {
          content: "";
          position: absolute;
          width: inherit;
          height: inherit;
        }

        &:before {
          background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%),
                      linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
          width: 60%;
          height: 60%;
          top: 20%;
        }
      }
    }

    &__prev {
      > label {
        left: 2%;

        &:before {
          left: 35%;
          top: 20%;
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
        }
      }
    }

    &__next {
      > label {
        right: 2%;

        &:before {
          left: 10%;
          transform: rotate(315deg);
          -webkit-transform: rotate(315deg);
        }
      }
    }

    &__nav {
      position: absolute;
      bottom: 1.6rem;;
      left: 0;
      text-align: center;
      width: 100%;
      z-index: 3;

      > label {
        display: inline-block;
        background: lightgrey;
        border-radius: 50%;
        cursor: pointer;
        margin: 0 1.0rem;
        width: 0.5rem;
        height: 0.5rem;

        &:hover {
          background: grey;}
      }
    }
  }
}

@include carousel(5);
