.tight, .tight * { margin:0;padding:0}

.hero {
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  img {
    width: 100%;
    height: inherit;
    object-fit: cover;
  }
}

.row {
  width: 100%;
  display: flex;
  flex-direction: column;

  &.row-unresponsive {
    flex-direction: row;
  }

  &.row-between {
    justify-content: space-between;
  }

  &.row-around {
    justify-content: space-around;
  }

  .col {
    display: block;
    flex: 1 1 auto;
    margin-left: 0;
    max-width: 100%;
    width: 100%;

    &.col-offset-10 { margin-left: 10%}
    &.col-offset-20 { margin-left: 20%}
    &.col-offset-25 { margin-left: 25%}
    &.col-offset-33 { margin-left: 33.3333%}
    &.col-offset-50 { margin-left: 50%}
    &.col-offset-66 { margin-left: 66.6666%}
    &.col-offset-75 { margin-left: 75%}
    &.col-offset-80 { margin-left: 80%}
    &.col-offset-90 { margin-left: 90%}
    &.col-10 { flex: 0 0 10%; max-width: 10%}
    &.col-20 { flex: 0 0 20%; max-width: 20%}
    &.col-25 { flex: 0 0 25%; max-width: 25%}
    &.col-33 { flex: 0 0 33.3333%; max-width: 33.3333%}
    &.col-40 { flex: 0 0 40%; max-width: 40%}
    &.col-50 { flex: 0 0 50%; max-width: 50%}
    &.col-60 { flex: 0 0 60%; max-width: 60%}
    &.col-66 { flex: 0 0 66.6666%; max-width: 66.6666%}
    &.col-75 { flex: 0 0 75%; max-width: 75%}
    &.col-80 { flex: 0 0 80%; max-width: 80%}
    &.col-90 { flex: 0 0 90%; max-width: 90%}

    .col-top { align-self: flex-start}
    .col-bottom { align-self: flex-end}
    .col-center { -ms-grid-row-align: center; align-self: center}
  }
}

@media(min-width: 40rem) {
  .row {
    flex-direction: row;

    .col {
      margin-bottom: inherit;
      padding: 0 1.0rem;

      &:first-of-type { padding: 0}
      &:last-of-type { padding: 0}
    }
  }
}

@media(max-width:40rem) {
  .row .col {
    &.col-10,
    &.col-20,
    &.col-33,
    &.col-40,
    &.col-50,
    &.col-60,
    &.col-66,
    &.col-75,
    &.col-80,
    &.col-90 {
      max-width: 100%}}}

/* SPACINGS */

section {
  width: 100%;}

.cnt {
  margin: 0 auto;
  max-width: 112rem;}

.mrg { margin-bottom: $spacing}
.pad { padding: $spacing}
.pad-h { padding-left: $spacing; padding-right: $spacing}
.pad-v { padding-top: $spacing; padding-bottom: $spacing}
.pad-vs { padding-top: calc(#{$spacing} / 4); padding-bottom: calc(#{$spacing} / 4)}
.gutters { padding-left: 1rem; padding-right: 1rem}

$adj-height: calc(2 * #{$spacing} + 1.5em);
$adj-heights: calc(#{$spacing} / 2 + 1.5em);

.fxd {
  position: fixed;
  z-index: 10;

  &.fxd-t &.fxd-b {
    left: 0;
    right: 0;
    height: 1.5em;
  }

  &.fxd-t.pad-v ~ &.fxd-b.pad.v ~ main .hero {
    .hero { height: calc(100vh - (2 * #{$adj-height}))}
  }

  &.fxd-t {
    top: 0;

    &~main { padding-top: 1.5em}
    &.pad-v~main {
      padding-top: $adj-height;
      .hero { height: calc(100vh - #{$adj-height})}
    }

    &.pad-vs~main {
      padding-top: $adj-heights;
      .hero { height: calc(100vh - #{$adj-heights})}
    }
  }

  &.fxd-b {
    bottom: 0;

    &~main { padding-bottom: 1.5em}
    &.pad-v~main {
      padding-bottom: $adj-height;
      .hero { height: calc(100vh - #{$adj-height})}
    }

    &.pad-vs~main {
      padding-bottom: $adj-heights;
      .hero { height: calc(100vh - #{$adj-heights})}
    }
  }
}

article img {
  margin-bottom: $spacing}


.grd {
  display: grid;
  grid-gap: calc(#{$spacing} / 2);
  grid-template-columns: repeat(auto-fit, minmax(30rem, auto));
  justify-items: center;}

/*---------------------------------------------------------------------- */
