button,
.button {
  background-color: #a8b2bd;
  border: 0;
  border-radius: .25em;
  // cursor: pointer;
  display: inline-block;
  padding: .5em 1.5em;
  margin: .1rem 0;
  outline: 0;
  text-align: center;

  &.border {
    border-radius: 1em;
    background-color: transparent}}

.border { border: solid 1px #a8b2bd}

a,a:visited {
  text-decoration: none;
  color: inherit;}

a:active, a:hover {
  text-decoration: none;
  color: $color-accent;}

$line-height: .15em;
a.line {
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: calc(50% - #{$line-height});
    width: 0;
    height: $line-height;
    background: $color-body;
    opacity: 0.6;
    transition: width .3s;
  }

  &:before { right: 50%}
  &:after { left: 50%}

  &:hover:before, &:hover:after {
    width: 50%;
  }
}

a.inv {
  &:hover, &:active {
    background: black;
    color: $color-highlight;}}

.link .reveal { display: none; font-weight: bold}
.link:hover .reveal { display: inline}

#hammenu {
    cursor: pointer;
    position: relative;
    height: 1em;
    width: 1.5em;}

#menuleft {
    position: absolute;
    top: 25%;
    left: 0; right: 0;
    height: 2px;
    transition: .3s;
    background: black;}

#menuright {
    position: absolute;
    bottom: 0%;
    left: 1rem; right: 0;
    height: 2px;
    transition: .3s;
    background: black;}

#hammenu:hover #menuright {
    right: 1rem;
    left: 0;}

/* --- Modal --- */

$modal-width: 40rem;

.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    background: rgba(0,0,0,.33);
    z-index: 20;
    transition: .3s;}

.modal-bg {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    cursor: pointer;}

.modal-state {
    position: fixed;
    top: -10%; left: -10%;
    opacity: 0;
    display: none;}

.modal-state:checked + .modal {
    opacity: 1;
    visibility: visible;}

.modal-state:checked + .modal .modal-content {
    right: 0;}

.modal-content {
    transition: .3s;
    position: absolute;
    top: 0%; bottom: 0; right: -$modal-width;
    width: $modal-width;
    height: 100%;
    overflow: hidden;
    /* padding: 2rem; */
    background: white;}

.modal-close {
    position: absolute;
    top: calc(1 * 2rem);
    right: calc(1 * 2rem);
    width: 4rem;
    height: 4rem;
    cursor: pointer;}

.modal-close:after, .modal-close:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 4rem;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;}

.modal-close:hover:after, .modal-close:hover:before {
    background: #aaa;}

.modal-close:before {
    transform: rotate(-45deg);}
