dl, ol, ul {
  margin-top: 0;
  padding-left: 0;

  dl, ol, ul {
    font-size: 90%;
    margin: 1.5rem 0 1.5rem 3.0rem;
  }
}
ul { padding-left: 2.5rem }

ol ol li {list-style-type: lower-alpha}

ol ol ol li {list-style-type: lower-roman}

dl {
  list-style: none;

  &.horizontal label { display: inline-block}
  &.horizontal dt {
    display: inline-block;
    margin-right: 2em;}}

label, dt, li { position: relative;margin-bottom: 1.5rem}

