section {
  width: 100%;}

.cnt {
  margin: 0 auto;
  max-width: 112rem;}

.pad { padding: $spacing}
.pad-h { padding-left: $spacing; padding-right: $spacing}
.pad-v { padding-top: $spacing; padding-bottom: $spacing}
.gutters { padding-left: 1rem; padding-right: 1rem}

.fxd {
  position: fixed;
  &.fxd-t &.fxd-b {
    left: 0;
    right: 0;
    height: 1.5em;
  }

  &.fxd-t {
    top: 0;

    &+main { padding-top: 1.5em}
    &.pad-v+main { padding-top: calc(2 * #{$spacing} + 1.5em)}
  }

  &.fxd-b {
    bottom: 0;

    &+main { padding-bottom: 1.5em}
    &.pad-v+main { padding-bottom: calc(2 * #{$spacing} + 1.5em)}
  }

}

.tight, .tight * { margin:0;padding:0}
