$color-background: white;
$color-highlight: #f2f2f2;
$color-body: #575757;
$color-accent: #000;

$spacing: 6.4rem;
$content-width: 112rem;

@import "normalize";
@import "typography";
// @import "grid";
@import "links";
@import "list";
@import "color";
@import "extras";
@import "position";
@import "elements";
